/* Pop Up */
.popup-container {
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50001;
}

.popunder-mobile{
    overflow: visible;
    height: 100%;
    position: absolute;
}

.popup-wrapper {
    margin: 0 auto;
/*    padding-top: 70px;
    padding-bottom: 70px;*/
    width: 100px;
    padding: 15px 0;
}

.popup-shadow {
    background: #000;
    opacity: 0.7;
    -moz-opacity: 0.7; /* legacy Firefox */
    -khtml-opacity: 0.7; /* legacy Safari/Konqueror */
    filter: alpha(opacity=70);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 50000;
    display: block;
}

.popunder-wrapper {
    background: #fff;
    position: relative;
    /*-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;*/
    box-shadow: 0 0 10px #000000;
    height: 100%;
    width: 100%;
}

.popunder-container {
    overflow-y: auto;
    /*margin-bottom: 50px!important;*/

}

.popup-loader .popunder-container {
    background: url("../images/loader.gif") no-repeat scroll 50% 50%;
    display: block;
    height: 50px;
    margin: 0 40px;
    width: 20px;
    padding: 15px 0;
}

.popup-close {
    /*background: url("../images/close.png") no-repeat scroll -8px -7px transparent;*/
    /*font-size: 0;*/
    position: absolute;
    right: 10px;
    /*text-indent: -1000px;*/
    top: 5px;
	font-size: 20px;
	color: #b9b9b9;
}

.popup-html-tmp {
    overflow-y: hidden !important;
}

/* end Pop Up */

